*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#canvasSimulador {
    border: 2px solid #333;
    background-color: #e0e0ff;
    margin-bottom: 15px;
}

#simulationControls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
}

#simulationControls button:hover {
    background-color: #c9302c;
}

#equationDisplay {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 250px;
    text-align: left;
}

#equationDisplay p {
    margin: 5px 0;
}

.section-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
details{
    cursor: pointer;
}
pre{
    background-color: #000000;
    color: chartreuse;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-x: auto;
    white-space: pre-wrap;
}
summary{
    border: red solid 3px;
    background: black;
    color: white;
    font-size: 1.5rem;
}

#status{
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
.cloud {
    background-color: #FFF;
    border-radius: 48px;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 48px;
}

.cloud-2 {
    top: 165px;
    left: 165px;
    background-color: #FFF;
    border-radius: 48px;
    display: inline-block;
    height: 16px;
    position: absolute;
    width: 48px;
}

.cloud::before {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    content: '';
    height: 18px;
    position: absolute;
    right: 7px;
    top: 0px;
    width: 14px;
}
.cloud::before, .cloud::after {
    background-color: rgb(255, 242, 242);
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}
.cloud::after {
    background-color: rgb(255, 255, 255);
    height: 23px;
    left: 7px;
    right: auto;
    top: -10px;
    width: 23px;
}

.cloud-2::before {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    content: '';
    height: 18px;
    position: absolute;
    right: 7px;
    top: 0px;
    width: 14px;
}
.cloud-2::before, .cloud-2::after {
    background-color: rgb(255, 242, 242);
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}
.cloud-2::after {
    background-color: rgb(255, 255, 255);
    height: 23px;
    left: 7px;
    right: auto;
    top: -10px;
    width: 23px;
}